---
import Layout from '../../layouts/Layout.astro';
import DOBCalculator from '../../components/DOBCalculator';
import { config } from '../../config';
---

<Layout title={`DOB Calculator - ${config.site.name}`}>
  <div style="max-width: 1200px; margin: 0 auto; padding: 40px 16px;">
    <DOBCalculator client:load />
  </div>
</Layout>
